<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser.plugins" value="PluginPath" />
    <add key="test.suites" value="all" />
    <add key="test.features" value="all" />
    <add key="test.scenarios" value="all" />
    <add key="file.testSuite" value="SuiteJasonFile" />
    <add key="file.basePath" value="BasePath" />
  </appSettings>
</configuration>