<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser.plugins" value="c:\_Automation\test\Plugins\Browsers\" />
    <add key="test.suites" value="all" />
    <add key="test.features" value="all" />
    <add key="test.scenarios" value="all" />
    <add key="file.testSuite" value="CustomerSite_suite.json" />
    <add key="file.basePath" value="c:\_Automation\test\source\application\SunGard.PNE.Test.CustomerSite.Specs\Data\" />
  </appSettings>
</configuration>